.override {
  top: -65px;
  position: relative;
}

.section {
  background: #f1f2f3;
  padding: 10px 10px;
  color: #99999A;
  font-size: 15px;
  font-weight: bolder;
}

.ll:hover {
  background: #f9fafb;
}

@media screen and (max-width: 990px) {
  .addrsr {
    display: none !important;
  }
  .addrsr-2 {
    display: none !important;
  }
  .pad-lft {
    padding-left: 3.5em;
  }

}

@media screen and (min-width: 990px) {
  .addrsr {
  width: 420px !important;
  }

}

@media screen and (min-width: 990px) {
  .pad {
    padding-left: 10.5em !important;
    margin-left: 10.5em !important;
  }
}
